<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="This is social network html5 template available in themeforest......">
  <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page">
  <meta name="robots" content="index, follow">
  <title>Edit Profile | Work and Education</title>

  <!-- Stylesheets
  ================================================= -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">

  <!--Google Font-->
  <link href="/../css.css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" type="image/png" href="/images/fav.png">
</head>
<body>

<!-- Header
================================================= -->
<header id="header">
  <nav class="navbar navbar-default navbar-fixed-top menu">
    <div class="container">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/posts"><img src="/images/logo.png" alt="logo"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div th:include="fragment/header-menu-fragment::header-menu"></div>

    </div><!-- /.container -->
  </nav>
</header>
<!--Header End-->

<div class="container">

  <!-- Timeline
  ================================================= -->
  <div class="timeline">
    <div class="timeline-cover">

      <!--Timeline Menu for Large Screens-->
      <div class="timeline-nav-bar hidden-sm hidden-xs">
        <form action="/timeline/change-profile-bg-pic" method="post" enctype="multipart/form-data" id="profile-bg-form">
            <input type="file" name="profile-bg-pic" style="display: none" id="profile-bg-picture">
            <a href="#" onclick="document.getElementById('profile-bg-picture').click()"> <img th:if="${user.getProfileBackgroundPic() == null || user.getProfileBackgroundPic().equalsIgnoreCase('null')}" src="/images/covers/1.jpg" alt="" > </a>
            <a href="#" onclick="document.getElementById('profile-bg-picture').click()"> <img th:if="${user.getProfileBackgroundPic() != null}" th:src="@{/getBgProfilePic(imageName=${user.getProfileBackgroundPic()})}" width="1030" alt="" id="profile-bg-pic"  > </a>
        </form>
        <script>
          document.getElementById('profile-bg-picture').addEventListener('change', function() {
            document.getElementById('profile-bg-form').submit();
          });
        </script>
        <div class="row">
          <div class="col-md-3">
            <form action="/timeline/change-profile-pic" method="post" enctype="multipart/form-data" id="profile-form">
              <input type="file" name="profile-pic" style="display: none" id="profile-pic">
                <div class="profile-info" th:if="${user.getProfilePicture() == null || user.getProfilePicture().equalsIgnoreCase('null')}" >
                  <a  href="#" onclick="document.getElementById('profile-pic').click()"><img alt="" class="img-responsive profile-photo" src="/images/post-images/difault.png"> </a>

                  <h3><i th:text="${user.name}"></i>  <i th:text="${user.surname}"></i></h3>
                </div>
                <div class="profile-info" th:if="${user.getProfilePicture() != null}">
                  <a href="#" onclick="document.getElementById('profile-pic').click()"><img alt="" class="img-responsive profile-photo" th:src="@{/getProfilePic(imageName=${user.getProfilePicture()})}"> </a>

                  <h3><i th:text="${user.name}"></i>  <i th:text="${user.surname}"></i></h3>
                </div>
            </form>
            <script>
              document.getElementById('profile-pic').addEventListener('change', function() {
                document.getElementById('profile-form').submit();
              });
            </script>

          </div>
          <div class="col-md-9">
            <ul class="list-inline profile-menu">
              <li><a th:href="@{'/users/profile/' + ${user.id}}" class="active">Timeline</a></li>
              <li><a th:href="@{'/users/about/profile/' + ${user.id}}">About</a></li>
              <li><a th:href="@{'/users/image/profile/' + ${user.id}}">Album</a></li>
              <li><a th:href="@{'/users/friend/profile/' + ${user.id}}">Friends</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--Timeline Menu for Large Screens End-->

    </div>
    <div id="page-contents">
      <div class="row">
        <div class="col-md-3">

          <!--Edit Profile Menu-->
          <ul class="edit-menu">
            <li><i class="icon ion-ios-information-outline"></i><a href="/timeline/edit-basic">Basic Information</a></li>
            <li class="active"><i class="icon ion-ios-briefcase-outline"></i><a href="/profile/work-education">Education and Work</a></li>
            <li><i class="icon ion-ios-heart-outline"></i><a href="/interests">My Interests</a></li>
            <li><i class="icon ion-ios-chatbubble-outline"></i><a href="/language">Languages</a></li>
            <li><i class="icon ion-ios-locked-outline"></i><a href="/users/about/profile/change-password">Change Password</a></li>
          </ul>
        </div>
        <div class="col-md-7">

          <!-- Edit Work and Education
          ================================================= -->
          <div class="edit-profile-container">
            <div class="block-title">
              <h4 class="grey"><i class="icon ion-ios-book-outline"></i>My education</h4>
              <div class="line"></div>
            </div>
            <div class="edit-block">
              <form action="/profile/work-education/education/add" method="post">
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="school">My university</label>
                    <input id="school" class="form-control input-group-lg" type="text" name="edName" title="Enter School" placeholder="My School">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-6">
                    <label for="date-from">From</label>
                    <input id="date-from" class="form-control input-group-lg" type="text" name="edFromDate" title="Enter a Date" placeholder="from">
                  </div>
                  <div class="form-group col-xs-6">
                    <label for="date-to" class="">To</label>
                    <input id="date-to" class="form-control input-group-lg" type="text" name="edToDate" title="Enter a Date" placeholder="to">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="edu-description">Description</label>
                    <textarea id="edu-description" name="edDescription" class="form-control" placeholder="Some texts about my education" rows="4" cols="400"></textarea>
                  </div>
                </div>
                <button class="btn btn-primary">Save Changes</button>
              </form>
            </div>
            <div class="block-title">
              <h4 class="grey"><i class="icon ion-ios-briefcase-outline"></i>Work Experiences</h4>
              <div class="line"></div>
            </div>
            <div class="edit-block">
              <form action="/profile/work-education/work/add" method="post">
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="company">Company</label>
                    <input id="company" class="form-control input-group-lg" type="text" name="company" title="Enter Company" placeholder="Company name">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="designation">Designation</label>
                    <input id="designation" class="form-control input-group-lg" type="text" name="weDesignation" title="Enter designation" placeholder="designation name">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-6">
                    <label for="from-date">From</label>
                    <input id="from-date" class="form-control input-group-lg" type="text" name="weFromDate" title="Enter a Date" placeholder="from">
                  </div>
                  <div class="form-group col-xs-6">
                    <label for="to-date" class="">To</label>
                    <input id="to-date" class="form-control input-group-lg" type="text" name="weToDate" title="Enter a Date" placeholder="to">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="work-city">City/Town</label>
                    <input id="work-city" class="form-control input-group-lg" type="text" name="weCity" title="Enter city" placeholder="Your city">
                  </div>
                </div>
                <div class="row">
                  <div class="form-group col-xs-12">
                    <label for="work-description">Description</label>
                    <textarea id="work-description" name="weDescription" class="form-control" placeholder="Some texts about my work" rows="4" cols="400"></textarea>
                  </div>
                </div>
                <button class="btn btn-primary">Save Changes</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-2 static">
          <div id="sticky-sidebar">
            <h4 class="grey" th:text="${user.name}+'\'s activity'"></h4>
            <div class="feed-item" th:each=" activity : ${userActivity}">
              <div class="live-activity">
                <a th:href="@{'/users/profile/' + ${user.id}}" class="profile-link" th:text="${user.name}+' '+${user.surname}"></a>
                <p th:text="${activity.type}"></p>
                <p class="text-muted" th:text="${#temporals.format(activity.dateTime, 'dd-MM-yyyy HH:mm')}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Footer
================================================= -->
<footer th:include="fragment/footer-menu-fragment::footer-menu"></footer>

<!--preloader-->
<div id="spinner-wrapper">
  <div class="spinner"></div>
</div>

<!-- Scripts
================================================= -->
<script src="/js/jquery-3.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.sticky-kit.min.js"></script>
<script src="/js/jquery.scrollbar.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>
